---
apiVersion: v1alpha1
kind: TrustedRootsConfig
name: gitlab-ca # Name of the config document.
certificates: |- # List of additional trusted certificate authorities (as PEM-encoded certificates).
    -----BEGIN CERTIFICATE-----
    MIIDwTCCAqmgAwIBAgIUTEa24EwJBL7IZ8yl8a576UW8OhswDQYJKoZIhvcNAQEL
    BQAwZTELMAkGA1UEBhMCUlUxFzAVBgNVBAgMDlN0LiBQZXRlcnNidXJnMRcwFQYD
    VQQHDA5TdC4gUGV0ZXJzYnVyZzEQMA4GA1UECgwHQUcgQ29ycDESMBAGA1UEAwwJ
    Z2l0bGFiLmFnMB4XDTI1MTEyMzE5MzI0OVoXDTI2MTEyMzE5MzI0OVowZTELMAkG
    A1UEBhMCUlUxFzAVBgNVBAgMDlN0LiBQZXRlcnNidXJnMRcwFQYDVQQHDA5TdC4g
    UGV0ZXJzYnVyZzEQMA4GA1UECgwHQUcgQ29ycDESMBAGA1UEAwwJZ2l0bGFiLmFn
    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxSa2lWrzW/xnFfsYMWET
    oRZCqwi4fesUZ6nf1V7BhebSxIr6sZrooPRtDSk1G3n7iWnNSiYUb4rltZzP9Qwf
    nkcIPSOjetZvgT7ZiQOFkEDHZfz7cGDCxbpMCf0PT96jxbZkOy0EUEzFPT5GrAXe
    sxDMxcbtzovE7RvjVO2gFums431zfL8gZ7B34HQurQ2XmeShxLLPO0VqhZrS4iSR
    pZ3I/1F8KSnn9qzC44fB0uWdp7mpE/phK9kit7PlFXuypxlDgHXEIQ70ehUN6Gdq
    0u1akMnk+tmxtKmOToi1roz1usnuGzvyu+v5RwO80NZEAavIdyRfa9npPOlSer03
    zQIDAQABo2kwZzAdBgNVHQ4EFgQU0TCOR6VEpOP7s1B8c0/fsEYI574wHwYDVR0j
    BBgwFoAU0TCOR6VEpOP7s1B8c0/fsEYI574wDwYDVR0TAQH/BAUwAwEB/zAUBgNV
    HREEDTALgglnaXRsYWIuYWcwDQYJKoZIhvcNAQELBQADggEBACABpFjBRMdUIdGM
    CKq+0Z0jlHWHkraoZAN/0BstXHfdZJ1LWJ+Voh0Q4Zz6TS4KUCrKzFsNQp8GxwRo
    D7BQbjdpa8Du9SWGKLOYovhcTQ/fOyXNXG9gWpwyXNR1nJWGZ4sUj3ewW9UNsG1s
    WgnW1SomJY92lVBGP7PDfI0LddrVbaxc699NvJKfMEhnEacAapocAON8vi6WUDgo
    p0+e65sBy4hWTo3P3SQAC58DY+sc/abvfKNGvoEul/NWRKlGeejKlrcAyhNfK2mm
    WG+r4MkHfve+c5tTrannu7RKflmVhPolVj5FLCPPhESe7P417kEPRm59U2aHg3M7
    68IUzWk=
    -----END CERTIFICATE-----
